.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #5e9fd3;
  border-radius: 4px;
  background: #90caf9;
  color: #000;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #48a8f7;
  border-color: #48a8f7;
}

.button--inverse {
  background: transparent;
  color: #000;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #90caf9;
}

.button--danger {
  background: rgb(156, 17, 17);
  border-color: rgb(97, 11, 11);
  color: #fff;
}

.button--danger:hover,
.button--danger:active {
  background: rgb(243, 37, 37);
  border-color: rgb(243, 37, 37);
  color: #000;
}

.button--like {
  background: rgb(14, 141, 9);
  border-color: rgb(6, 110, 2);
  color: #fff;
}
.button--like:hover,
.button--like:active {
  background: rgb(6, 110, 2);
  border-color: rgb(6, 110, 2);
  color: #fff;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
